{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Login Form Page</title>
</head>
<body>
    <!-- Login Form Section-->
    <div class="container" style="width: 100%; max-width: 430px;">
        <div class="forms">
            <div class="form login">
                <span class="title">Login Page</span>
                <!-- Login Form -->
                <form method="post" action="/signin">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" placeholder="Enter your username" id="username" name="username" required>
                        <i class="uil uil-user icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Enter your password" id="pass1" name="pass1" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field button">
                        <input type="submit" value="Login">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/functionScript.js' %}"></script>
</body>
</html>
